%% == Erlang Compiler ==

{minimum_otp_vsn, "19.3"}.

{erl_opts, [
    debug_info,
    warn_export_vars,
    warn_missing_spec_all,
    warn_unused_import,
    warnings_as_errors,
    {i, "src"}
]}.

%% == Dependencies and plugins ==

{deps, []}.

{project_plugins, [
    {rebar3_lint, "0.3.2"}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unknown,
        unmatched_returns
    ]}
]}.

%% == Xref ==

{xref_checks, [
    deprecated_function_calls,
    exports_not_used,
    locals_not_used,
    undefined_function_calls
]}.

%% == Profiles ==

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {erl_opts, [
            debug_info,
            nowarn_export_all,
            nowarn_missing_spec,
            nowarn_missing_spec_all,
            warn_export_vars,
            warn_unused_import,
            warnings_as_errors
        ]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {xref_extra_paths, ["test"]}
    ]}
]}.

%% == EDoc ==

{edoc_opts, [
    {includes, ["src"]},
    {preprocess, true}
]}.
