{driver, basho_bench_driver_poolgirl}.
{code_paths, ["../ebin"]}.
{pre_hook, {basho_bench_driver_poolgirl, init}}.
{mode, max}.
{duration, 2}.  %% minutes
{concurrent, 5}.
{operations, [
    {checkout, 1}
]}.
{report_interval, 5}.
{key_generator,
    {int_to_bin_bigendian,
        {uniform_int, 1000000000}}}.
{value_generator,
    {uniform_bin, 64, 128}}.

%%
%% config
{poolgirl, [
    {size, 500}
]}.
